icons/btn_erase.svg
icons/btn_clear.png
icons/btn_clear.svg
icons/btn_dropper.png
icons/btn_erase.png
icons/btn_grid.png
icons/btn_grid.svg
icons/btn_light.png
icons/btn_light.svg
icons/old/btn_clear.png
icons/old/btn_erase.png
icons/old/btn_grid.png
icons/old/btn_light.png
images/bg.png
old/designs.js
old/designs.js.bak
.vscode/extensions.json
